<div class="container">
    <mat-card class="card-style">
        <mat-card-title>LOGIN</mat-card-title>
        <form class="card-content-login" [formGroup]="profileForm" (ngSubmit)="onClickLogin()">

            <label for="username">Username: </label>
            <input id="username" type="text" formControlName="username">
          
            <label for="password">Password: </label>
            <input id="password" type="password" formControlName="password">
          
            <button type="submit" [disabled]="!profileForm.valid" mat-button>Login</button>
          </form>
        <mat-card-actions>
            <p *ngIf="value">Username o password errate</p>
            <p style="margin-top: 10px;">Non hai ancora un account?
                <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Registrati</a>
            </p>
        </mat-card-actions>
    </mat-card>
</div>