.container{
    //background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-form-field {
    width: 200px;
}

.card-content-login{
    display: flex;
    flex-direction: column;
}