<div class="container">
    <div class="page">
        <h1>Welcome to the secret page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda officiis itaque aspernatur id ipsa sed eligendi sapiente! Dolorem non officia mollitia ipsum adipisci error placeat, dicta officiis repudiandae quos cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quod obcaecati facere maxime unde vel, quidem recusandae eligendi sequi, veritatis, saepe reprehenderit consequuntur voluptas id culpa sit alias sunt! Repellendus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti ratione laboriosam, sequi quidem illum quod ipsum, asperiores assumenda ipsam doloribus dolorum animi. Sit itaque placeat voluptates eligendi eius voluptatibus?</p>
    </div>
</div>