<div class="container">
    <mat-card class="card-style">
        <mat-card-title>REGISTRATION</mat-card-title>
        <form class="card-content-login" [formGroup]="profileForm" (ngSubmit)="onClickRegister()">

            <label for="username">Username: </label>
            <input id="username" type="text" formControlName="username">


            <label for="email">Email: </label>
            <input id="email" type="mail" formControlName="email">


            <label for="password">Password: </label>
            <input id="password" type="password" formControlName="password">

            <label for="checkPassword">Conferma Password: </label>
            <input id="checkPassword" type="password" formControlName="checkPassword">


            <label for="dob">Data di nascita: </label>
            <input id="dob" type="date" formControlName="dob">

            <button type="submit" [disabled]="!profileForm.valid" mat-button>Login</button>
          </form>
        <mat-card-actions>
            <!-- <p *ngIf="value">Username o password errate</p> -->
        </mat-card-actions>
    </mat-card>
</div>